@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-VariableFont_wght.ttf');
		font-weight: normal;
		font-display: swap;
	}
}