@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Roboto Condensed';	
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

@media screen(md) {
	h1 {
		font-size: 48px;
	}
}

@media screen(lg) {
	h1 {
		font-size: 52px;
	}
}